body {
  font-family: roboto_condensedregular;
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

/*HEADER*/
.header {
  height: 60px;
  background: #323232;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.13);
}
.header__container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}
.header__logo {
  padding: 15px 31px 5px 28px;
  width: 126px;
  height: 60px;
  border-right: 1px solid #4D4D4D;
}
.header__logo a {
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  color: #EDEDED;
  position: relative;
}
.header__logo a:before {
  content: url("../img/icons/logo.svg");
  position: absolute;
  top: 7px;
  left: -28px;
}
.header__nav {
  width: 345px;
  height: 60px;
  margin-left: 1px;
}
.header__nav ul {
  display: flex;
  justify-content: flex-start;
}
.header__nav ul li {
  padding: 20px 31px 20px 30px;
  border-right: 1px solid #4D4D4D;
}
.header__nav_active {
  background: #000000;
}
.header__nav a {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #EDEDED;
}
.header__nav_active a {
  color: #C7AA8B;
}
.header__sm {
  width: 124px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  margin-left: 348px;
}
.header__sm div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-right: 1px solid #4D4D4D;
}
.header__sm div:first-child {
  border-left: 1px solid #4D4D4D;
}

/*COVER*/
.cover {
  height: 497px;
  background: url("../img/cover1.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 69px;
}
h1 {
  font-size: 78px;
  line-height: 66px;
  text-transform: uppercase;
  color: #FFFFFF;
}
h1 span {
  margin-top: 10px;
  display: inline-block;
}
.line {
  width: 60px;
  height: 2px;
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: 36px;
}
p {
  font-family: 'vollkornregular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.81);
  margin-top: 18px;
}
.cover__button {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  width: 134px;
  height: 40px;
  padding-top: 7px;
  background: rgba(77, 77, 77, 0.2);
  border: 2px solid #FFFFFF;
  margin: 0 auto;
  margin-top: 49px;
  display: block;
}
.cover__nav {
  width: 39px;
  height: 9px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 86px;
}
.cover__nav_item {
  width: 9px;
  height: 9px;
  background: rgba(255, 255, 255, 0.4);
}
.cover__nav .active {
  background: #FFFFFF;
}

/*SERVICES*/
.services {
  height: 425px;
  background: #C7AA8B;
}
.services .wrapper {
  padding-top: 58px;
}
.services__flexcontainer {
  width: 100%;
  height: 287px;
  display: flex;
  justify-content: space-between;
}
.services__flexcontainer_item {
  width: 300px;
  height: 287px;
}
.services__number {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(50, 50, 50, 0.09);
}
.services__number-line {
  width: 100%;
  height: 1px;
  background: rgba(50, 50, 50, 0.09);
}
.services__header {
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #4D4D4D;
  margin-top: 22px;
}
.services__icon {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
.services__description {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  width: 287px;
  padding-right: 40px;
}